<div class="jumbotron">
	<div id="hero">
		<%= image_tag("clairvoyant.png", :class => "img-responsive")  %>
	</div>

	<div class="container" id="action_wrapper">
  		<div class="row">
  			<div class="col-md-12 col-sm-12 text-center">
  				<div id="header_text">
  					Travel Discovery Simplified
  				</div>
  				<div id="sub_header_text">
  					Clairvoyant is a visual guide to the world
  				</div>
  			</div>
  		</div>

  		<div class="row" id="query-container">
  			<div class="col-md-offset-3 col-md-6 col-sm-12">
  				<form class="form-horizontal">
					<div class="form-group" style="position:relative;">						
				      	<input id ="q" type="text" class="form-control" id="inputEmail3" placeholder="Where do you want to go ?" >
				      	<%= image_tag("globe.png", :class => "img-responsive" , :id => "input_globe") %>
				  	</div>
				</form>
  			</div>
  		</div>  		
	</div>
</div>


<div class="container" id="discover_cities">

	<div class="row" style="margin-bottom:50px;">
		<div class="col-md-12 col-sm-12 text-center">
			<h1>3 SIMPLE STEPS</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-12 ">
			<%= image_tag("map.png", class: "img-responsive center-block") %>
		</div>
		<div class="col-md-4 col-sm-12 ">
			<%= image_tag("heart.png", class: "img-responsive center-block") %>
		</div>
		<div class="col-md-4 col-sm-12 ">
			<%= image_tag("flightbooking.png", class: "img-responsive center-block") %>
		</div>				
	</div>

	<div class="row" style="margin-top:10px;">
		<div class="col-md-4 col-sm-12 text-center">
			<div class="helper_text">Pick a country</div>
		</div>
		<div class="col-md-4 col-sm-12 text-center">
			<div class="helper_text">Tell us if you like what you see</div>
		</div>
		<div class="col-md-4 col-sm-12 text-center">
			<div class="helper_text">Book and go!</div>
		</div>				
	</div>

	<div class="row" style="margin-bottom:50px;margin-top:50px;">
		<div class="col-md-12 col-sm-12 text-center">
			<h1>EXPERIENCE THE WORLD</h1>
		</div>
	</div>

	<div class="row" style="margin-bottom:50px;margin-top:50px;">
		<div class="col-md-4 col-sm-12">
			<%= image_tag "UAE.png", :class => "img-responsive" %>
		</div>
		<div class="col-md-4 col-sm-12">
			<%= image_tag "TURKEY.png", :class => "img-responsive" %>
		</div>
		<div class="col-md-4 col-sm-12">
			<%= image_tag "BRUSSELS.png", :class => "img-responsive" %>
		</div>				
	</div>

	<div class="row" style="margin-top:20px;margin-bottom:50px;">
		<div class="col-md-4 col-sm-12">
			<%= image_tag "FRANCE.png", :class => "img-responsive" %>
		</div>
		<div class="col-md-4 col-sm-12">
			<%= image_tag "JORDAN.png", :class => "img-responsive" %>
		</div>
		<div class="col-md-4 col-sm-12">
			<%= image_tag "CHINA.png", :class => "img-responsive" %>
		</div>				
	</div>

</div>